<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app"></div>

<template id="my-app">
  <ul>
    <li v-for="(movie, index) in movies">{{index+1}}.{{movie}}</li>
  </ul>
  <h2>personal information/profile</h2>
  <ul>
    <li v-for="(value, key, index) in info">{{value}} - {{key}} - {{index}}</li>
  </ul>
  <h2>traverse numbers</h2>
  <ul>
    <li v-for="(num, index) in 10">{{num}} - {{index}}</li>
  </ul>
</template>
<script src="../js/vue.global.js"></script>
<script>
  const App = {
    template: '#my-app',
    data() {
      return {
        movies: [
          '盗墓空间',
          '大话西游',
          '教父',
          '少年派',
          '星际穿越'
        ],
        info: {
          name: 'goahead',
          age: 30,
          height: 1.65
        }
      }
    }
  }

  Vue.createApp(App).mount('#app')
</script>
</body>
</html>
